<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GL_ENABLE_DEBUG_ATTACH</key>
	<string>YES</string>
	<key>PATH</key>
	<string>/Users/jon/bin:/opt/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	<key>GEM_HOME</key>
  <string>/Users/jon/.gem</string>
	<key>GEM_PATH</key>
  <string>/Users/jon/.gem/ruby/1.8:/Users/jon/.gem:/Library/Ruby/Gems/1.8</string>
</dict>
</plist>
