[submodule "unmanaged/scm_breeze"]
	path = unmanaged/scm_breeze
	url = git@github.com:ndbroadbent/scm_breeze.git
[submodule "unmanaged/vim/bundle/vundle"]
	path = unmanaged/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "unmanaged/zsh/zsh-syntax-highlighting"]
	path = unmanaged/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
