[user]
	name = Jonathan del Strother
	email = jon.delStrother@bestbefore.tv
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	legacyheaders = false
	excludesfile = /Users/jon/.gitglobalignore
[repack]
	usedeltabaseoffset = true
[alias]
	st = status
	ci = commit
	co = checkout
	ss = !git stash && git stash apply
	up = !git fetch origin && git log HEAD...origin/master --pretty=oneline --reverse --left-right && git checkout origin/master
	upr = !git fetch origin && git log HEAD...origin/master --pretty=oneline --reverse --left-right && git rebase origin/master
	cleanmerge = "!git ls-files --other --exclude-standard | grep -E '\\.(orig|rej)$|\\.(BACKUP|BASE|LOCAL|REMOTE)\\.' | xargs rm"
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%aN, %cr)%Creset' --abbrev-commit --date=relative
	lgprod = !git lg HEAD origin/production-live ^$(commonbase=$(git rev-list HEAD ^origin/production-live | tail -n1) echo ${commonbase:-HEAD~1})~3
	amend = commit --amend -C HEAD
	rclone = clone --reference ~/.gitcache
[merge]
	tool = opendiff
[rerere]
	enabled = 1
[branch]
	autosetupmerge = 1
[instaweb]
    local = true
    httpd = webrick
    port = 4321
    browser = open
[sendemail]
	smtpserver = mail.bestbefore.tv
	smtpuser = jon.delStrother
	smtppass = Jade613A
[apply]
	whitespace = fix

[mergetool "p4merge"]
    # I put p4merge and DiffMerge in /Applications/Utilities, but you might have them in /Applications.
    cmd = /Applications/Utilities/p4merge.app/Contents/Resources/launchp4merge \
        "$PWD/$BASE" \
        "$PWD/$REMOTE" \
        "$PWD/$LOCAL" \
        "$PWD/$MERGED" 
    keepBackup = false
    trustExitCode = false

[mergetool "diffmerge"]
    cmd = /Applications/Utilities/DiffMerge.app/Contents/MacOS/DiffMerge \
        --nosplash \
        --result="$PWD/$MERGED" \
        "$PWD/$BASE" \
        "$PWD/$REMOTE" \
        "$PWD/$LOCAL" 
    keepBackup = false
    trustExitCode = false
[push]
	default = matching
[diff "png"]
	textconv = exif
[diff "exif"]
	textconv = exiftool
	binary = false
[diff "sass"]
	xfuncname = "^ *([^: ].*)$"

[imap]
	folder = "[Google Mail]/Drafts"
	host = imaps://imap.gmail.com
	user = jdelStrother@gmail.com
	port = 993
	sslverify = false
[mailmap]
	file = /Users/jon/.mailmap
[path]
	threads = 4
[gui]
	spellingdictionary = none
