#!/usr/local/bin/zsh
tmux  start-server

if ! $(tmux  has-session -t 'Web'); then
cd ~/Developer/web

env TMUX= tmux  start-server \; set-option -g base-index 1 \; new-session -d -s 'Web' -n 'editor'
tmux  set-option -t 'Web' default-path ~/Developer/web


tmux  new-window -t 'Web':2 -n 'shell'

tmux  new-window -t 'Web':3 -n 'database'

tmux  new-window -t 'Web':4 -n 'server'

tmux  new-window -t 'Web':5 -n 'console'

tmux  new-window -t 'Web':6 -n 'dj2'


# set up tabs and panes

# tab "editor"

tmux  send-keys -t 'Web':1 'vim' C-m

tmux  splitw -t 'Web':1
tmux  send-keys -t 'Web':1 '' C-m

tmux  select-layout -t 'Web':1 'main-vertical'


# tab "shell"

tmux  send-keys -t 'Web':2 'git fetch' C-m


# tab "database"

tmux  send-keys -t 'Web':3 'bin/rails db' C-m


# tab "server"

tmux  send-keys -t 'Web':4 'bin/unicorn --c unicorn_dev.rb' C-m

tmux  splitw -t 'Web':4
tmux  send-keys -t 'Web':4 'tail -f log/development.log' C-m

tmux  select-layout -t 'Web':4 'main-horizontal'


# tab "console"

tmux  send-keys -t 'Web':5 'bin/rails c' C-m


# tab "dj2"

tmux  send-keys -t 'Web':6 'ssh -p2223 deploy@audioboo.everycity.co.uk' C-m



tmux  select-window -t 'Web':1

fi

if [ -z $TMUX ]; then
    tmux  -u attach-session -t 'Web'
else
    tmux  -u switch-client -t 'Web'
fi
